/* ************************** Fuentes ************************* */
@font-face{
    font-family: IBMPlexMono;
    src: url(../fonts/IBMPlexMono-Regular.ttf);
}

@font-face{
    font-family: IBMPlexMonoMedium;
	src: url(../fonts/IBMPlexMono-Medium.ttf);
}

@font-face{
    font-family: IBMPlexSans;
	src: url(../fonts/IBMPlexSans-Regular.ttf);
}

@font-face{
    font-family: IBMPlexSans-SemiBold;
	src: url(../fonts/IBMPlexSans-SemiBold.ttf);
}