// ----------------------------- variables generales
$font-size-responsive: 14px;
$background-primary: white;
$background-secundary: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$font-f-titles-sections: 'IBMPlexSans';
$font-s-titles-sections: 48px;
$color-title-section: #060A24;
$line-height-title-section: 42px;

// -------------------------parrafo
$font-f-paragraph: 'IBMPlexMono';
$font-s-paragraph: 16px;
$color-paragraph: #060A24;
$lh-paragraph: 24px;
$letter-spacing: 0px;
// ----------------------------- Variables - Navigation

// variables navbar - second
$background-navbar: #0000EC;
$color-text-nav: #FFFFFF;
$color-icon-closewindow: #000000;
// ----------------------------- Variables - Hero
// title
$font-f-title-hero: 'IBMPlexSans';
$font-s-title-hero: 64px;
$color-title-dot: #0000EC;
$font-size-dot: 64px;
$line-height-hero: 84px;
// buttons
$margin-top-btn: 56px;
$background-button: #00F3BB;
$background-secundary-btn: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$font-f-btn: 'IBMPlexMonoMedium';
$font-s-btn: 18px;
$font-s-btn-second: 16px;
$letter-spacing-btn: 0;
$color-letter-btn: #060A24;
$color-secundary-btn:#FFFFFF;
$text-align-btn: center;
$line-height-btn: 24px;
$text-transform: uppercase;

// ------------------------------ Variables - section some items
$font-f-items: 'IBMPlexSans-SemiBold';
$font-s-items: 24px;
$text-align-items: center;